

html {
  background-color: whitesmoke;
  align-items: center;
  background-size: cover;
  
  font-family: 'press start 2p', Arial, Helvetica, sans-serif;
  
}

.head-box {
  width: 250px;
  display: flexbox;

}

.header-text {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}


.banner {
  height: 200;
  width: 400px;
  margin-left: 0px;
  margin-bottom: -200px;
  display: flexbox;
  
}

.logounder {
  height: 250px;
  width: 250px;
  margin-top: 150px;
  margin-left: 80px;
  position: absolute;
}

.animate__animated.animate__jackInTheBox {
  --animate-duration: 2s;
}

.quizbox {
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
    color: red;
  }

  .blist {
    height: 400px;
    width: 700px;
    border: 2px solid #351c75;
    margin-top: 25px;
    margin-left: 250px;
    object-fit: fit;
  }

  .blist:hover {
    cursor: pointer;
    border: 2px solid #f7d7b5;
    box-shadow: -30px 16px #351c75;
  }

  .counter {
    
    height: 250px;
    width: 700px;
    border: 2px solid #351c75;
    margin-top: 25px;
    margin-left: 450px;
    margin-bottom: 100px;
    object-fit: fit;
    background-color: whitesmoke;
    
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    /* Text decoration for modal box  */
    text-align: center;
    font-size: 36px;
    font-family: 'press start 2p', helvetica, sans serif;
    color: #351c75;
     
  }

  .score-box {
    display: none;
    position: absolute;
  }


  
  button {
    background-color: whitesmoke;
    color: #351c75;
    margin-top: 35px;
    margin-left: 100px;
    margin-right:50px;
    border: 2px solid #351c75;
    height: 35px;
    width: 125px;
    font-size: 16px;
    font-weight: 600;
    
  }
  button:hover {
    cursor: pointer;
    border: 1px solid #f7d7b5;
    box-shadow: -10px 8px #351c75;
    
  }

  label {
    font-size: 16px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    color: black
  }

  .footer {
    width: 100%;
    height: 100px;
    text-align: left;
    margin-left: 100px;
    margin-top: 85px;
    color: #351c75;
  }

  p {
    padding: 15px;
  }

  .letters,.letters-two {
    margin-left: 350px;
  }



 .image-two {
  height: 400px;
  width: 700px;
  
  border: 2px solid navy;
  margin-top: 75px;
  margin-left: 250px;
  object-fit: fit;
}

.image-two:hover {
  cursor: pointer;
  border: 2px solid #f7d7b5;
  box-shadow: -30px 16px #351c75;
}

.quizbox-two {
  text-align: center;
  margin-top: 10px;
  margin-left: 50px;
  color: red;
  display: none;
}

.letters,.letters-three {
  margin-left: 350px;
}



.image-three {
height: 400px;
width: 700px;

border: 2px solid navy;
margin-top: 75px;
margin-left: 250px;
object-fit: fit;
}

.image-three:hover {
cursor: pointer;
border: 2px solid #f7d7b5;
box-shadow: -30px 16px #351c75;
}

.quizbox-three {
text-align: center;
margin-top: 10px;
margin-left: 50px;
color: red;
display: none;
}

